*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  color: #151618;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.menu__btn {
  z-index: 2;
  display: none;
  position: relative;
}

.menu--close {
  z-index: 1;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu--open {
  display: block;
}

.mobile__nav,
.menu__close-btn {
  display: none;
}

.header__inner {
  min-height: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.menu__list {
  z-index: 3;
  position: relative;
  display: flex;
  gap: 65px;
  font-weight: 400;
  font-size: 18px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-actions__item--search {
  margin-left: 80px;
}

.top {
  background-image: url("/images/top-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.top__inner {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.top__title {
  font-family: "Cormorant", serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 100%;
  max-width: 790px;
}

.top__text {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  max-width: 557px;
  margin-bottom: 48px;
  margin-top: 20px;
}

.blockquote {
  margin: 150px 0;
  display: flex;
  justify-content: center;
}

.blockquote__text {
  text-align: center;
  font-family: Cormorant;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  max-width: 704px;
}

.assortment__title,
.reviews__title,
.title {
  font-family: Cormorant;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 60px;
}

.assortment {
  margin-bottom: 150px;
  font-family: Cormorant;
}

.assortment__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.assortment__item {
  text-align: center;
}

.reviews {
  padding: 60px 0;
  background-color: #f7f2ea;
}

.reviews__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews__item {
  max-width: 280px;
}

.reviews__text {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 10px;
}

.reviews__name {
  font-weight: 600;
}

@media (max-width: 860px) {
  .assortment__list {
    justify-content: center;
  }
  .menu__list {
    display: block;
    width: 480px;
    left: 0;
    top: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    background-color: white;
    text-align: center;
    padding-top: 60px;
    transform: translateY(-100%);
    transition: 0.7s;
  }
  .menu__list.menu__list--open {
    transform: translateY(0%);
  }

  .mobile__nav {
    display: block;
  }
  .menu__close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__item {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Cormorant", serif;
  }
  .mobile__nav {
    padding-top: 60px;
    margin: 60px 30px;
    border-top: 2px solid #f7f2ea;
  }
  .mobile__menu-item {
    margin-bottom: 35px;
  }
  .mobile-actions {
    background-color: #f7f2ea;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 80px;
  }
  .menu__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 40px;
  }
  .menu__btn span {
    height: 2px;
    width: 100%;
    background-color: #151618;
  }
  .header__inner {
    padding: 10px 0;
  }
  .blockquote {
    margin: 100px 0;
  }
  .menu {
    order: -1;
  }
  .user-actions__item--search {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .reviews__item:last-child {
    display: block;
  }
  .reviews__item {
    padding: 18px;
    max-width: 220px;
  }
  .top__title {
    font-size: 40px;
    line-height: normal;
  }
  .top__text {
    font-size: 18px;
  }
  .container {
    padding: 0 10px;
  }
  .blockquote {
    padding: 0 64px;
  }
  .blockquote__text {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .reviews__item {
    max-width: 100%;
  }
  .assortment {
    margin-bottom: 80px;
  }
  .assortment__item {
    max-width: 50%;
  }
  .assortment__img {
    width: 100%;
  }
  .assortment__title,
  .reviews__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .menu__list {
    display: block;
    width: 360px;
  }
  .user-actions__item--search {
    margin-left: 0px;
  }
  .blockquote__text {
    font-size: 16px;
  }
  .blockquote {
    margin: 60px 0;
  }
  .top__inner {
    min-height: 360px;
  }
  .top {
    background-position: left;
  }
}

@media (max-width: 360px) {
  .top__title {
    font-size: 24px;
  }
  .top__text {
    font-size: 14px;
  }
}

.main-blog {
  padding: 150px 0;
}

.main-blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 58px 40px;
  margin-bottom: 60px;
}

.main-blog__item {
  flex-basis: 542px;
  display: flex;
  gap: 0 20px;
}

.main-blog__title {
  font-family: Cormorant;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-blog__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-blog__author,
.main-blog__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.main-blog__link {
  display: block;
  position: relative;
  padding-right: 8px;
}

.main-blog__link::after {
  content: url("/images/arrow.svg");
  position: absolute;
  margin-left: 8px;
  margin-bottom: 3px;
}

.main-blog__btn {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 12px 40px;
  border: 1px solid #151618;
}

.mailing-list {
  padding: 100px 0;
  background-color: #f7f2ea;
  background-image: url("/images/mailing-list-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.mailing-list__title {
  margin-bottom: 50px;
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
}

.mailing-list__inner {
  display: flex;
  justify-content: space-between;
}

.mailing-list__text {
  max-width: 580px;
}

.mailing-list__form {
  max-width: 580px;
  display: flex;
  flex-wrap: wrap;
}

.mailing-list__input::placeholder {
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  color: #b8b58b;
}
.mailing-list__input {
  width: 439px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b8b58b;
  outline: none;
  margin-right: 25px;
}

.mailing-list__btn {
  text-align: center;
  padding: 12px 40px;
  border: 1px solid #151618;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-color: #fff;
  cursor: pointer;
}

.checkbox__text {
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 20px;
}

.checkbox {
  position: absolute;
  height: 1px;
  width: 1px;
  color: red;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.checkbox__style {
  height: 10px;
  width: 10px;
  position: absolute;
  border: 1px solid #151618;
  margin-top: 5px;
  cursor: pointer;
}

label {
  margin-top: 10px;
  cursor: pointer;
}

.checkbox:checked + .checkbox__style::after {
  content: "";
  height: 5px;
  width: 5px;
  background-color: #151618;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.priorities {
  padding: 150px 0;
}

.priorities__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.priorities__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.priorities__text {
  margin-bottom: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1000px) {
  .reviews__item:last-child {
    display: none;
  }
  .main-blog {
    padding: 120px 0;
  }
  .main-blog__img {
    max-width: 230px;
  }
  .main-blog__item {
    flex-basis: 460px;
  }
  .main-blog__content {
    max-width: 210px;
  }
  .mailing-list__inner {
    display: block;
  }
  .mailing-list {
  }
  .mailing-list__title {
    text-align: center;
  }
  .mailing-list__text {
    text-align: center;
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .mailing-list__form {
    margin: 0 auto;
  }
  .priorities__item {
    padding: 30px;
  }
  .priorities {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .main-blog__item:nth-child(odd) {
    margin-left: 60px;
  }
  .main-blog__item:nth-child(even) {
    margin-left: 160px;
  }
}

@media (max-width: 480px) {
  .main-blog__item:nth-child(odd) {
    margin-left: 5px;
  }
  .main-blog__item:nth-child(even) {
    margin-left: 5px;
  }
  .mailing-list__input {
    width: 300px;
  }
  .mailing-list {
    padding: 50px 0;
  }
  .priorities__list {
    justify-content: center;
  }
  .title {
    margin-bottom: 20px;
  }
  .main-blog {
    padding: 60px 0;
  }
}
